In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
#import data
orders_df = pd.read_csv("data/Orders.csv")
campaign_data_df = pd.read_csv('data/Campaign_data.csv')
intern_study_df = pd.read_csv('data/Intern_study.csv')
order_process_df = pd.read_csv('data/Order_process.csv')
orders_df.head(2)

,Index,Order ID,Order Date,Ship Mode Logistics,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.0,11.7741
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.0,19.7714

In [79]:
#make columns in lower case
orders_df.columns = orders_df.columns.str.lower()  # make column names lowercase
campaign_data_df.columns = campaign_data_df.columns.str.lower()  # make column names lowercase
order_process_df.columns = order_process_df.columns.str.lower()  # make column names lowercase
intern_study_df.columns = intern_study_df.columns.str.lower()  # make column names lowercase

In [80]:
cols1 = orders_df.columns.tolist()
cols1 = [col.replace(' ', '_') for col in cols1]
orders_df.columns = cols1
cols2 = campaign_data_df.columns.tolist()
cols2 = [col.replace(' ', '_') for col in cols2]
campaign_data_df.columns = cols2
cols3 = order_process_df.columns.tolist()
cols3 = [col.replace(' ', '_') for col in cols3]
order_process_df.columns = cols3
cols4 = intern_study_df.columns.tolist()
cols4 = [col.replace(' ', '_') for col in cols4]
intern_study_df.columns = cols4

In [81]:
orders_df.order_id.unique()
orders_df.order_id.value_counts()

CA-2020-100111    14
CA-2020-157987    12
CA-2019-165330    11
US-2019-108504    11
US-2018-126977    10
                  ..
CA-2020-121643     1
US-2018-122910     1
CA-2019-159989     1
US-2017-167262     1
CA-2019-122581     1
Name: order_id, Length: 5009, dtype: int64

In [82]:
orders_df[orders_df['order_id'] == 'CA-2020-100111']

,index,order_id,order_date,ship_mode_logistics,customer_id,customer_name,origin_channel,country/region,city,state,postal_code,region,category,sub-category,product_id,sales,quantity,discount,profit
466,6092,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002647,212.800,2,0.0,95.7600
467,6094,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10001465,72.640,2,0.0,21.7920
468,6104,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10001998,59.970,3,0.0,20.3898
1221,6099,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Power Muesli,Maple Sweetened,OFF-FA-10000304,4.360,2,0.0,1.7876
2968,6093,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Power Muesli,Nuts and more,OFF-PA-10000807,38.520,9,0.0,18.1044
2969,6096,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Power Muesli,Nuts and more,OFF-PA-10002713,13.760,2,0.0,6.3296
4037,6101,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Special Projects Muesil,Only Oats,TEC-PH-10002885,1299.660,2,0.0,350.9082
4038,6103,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Special Projects Muesil,Only Oats,TEC-PH-10000215,104.850,3,0.0,28.3095
5235,6095,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Power Muesli,Steel Cut,OFF-ST-10000615,45.400,4,0.0,12.7120
6481,6098,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Power Muesli,Super Fibre Boost,OFF-BI-10000343,11.784,3,0.2,3.9771
9743,6091,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Toasted Muesli,With Nuts,FUR-CH-10003846,272.646,3,0.1,18.1764
9744,6097,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Toasted Muesli,With Nuts,FUR-CH-10003061,80.991,1,0.1,8.0991
9745,6100,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Toasted Muesli,With Nuts,FUR-CH-10004086,2888.127,11,0.1,609.7157
9746,6102,CA-2020-100111,20/9/2020,Standard Class,SV-20365,Seth Vernon,Email,United States,New York City,New York,10035.0,East,Toasted Muesli,With Nuts,FUR-CH-10001215,2254.410,5,0.1,375.7350

In [83]:
orders_df.info()
campaign_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                9994 non-null   int64
 1   order_id             9994 non-null   object
 2   order_date           9994 non-null   object
 3   ship_mode_logistics  9994 non-null   object
 4   customer_id          9994 non-null   object
 5   customer_name        9994 non-null   object
 6   origin_channel       9994 non-null   object
 7   country/region       9994 non-null   object
 8   city                 9994 non-null   object
 9   state                9994 non-null   object
 10  postal_code          9983 non-null   float64
 11  region               9994 non-null   object
 12  category             9994 non-null   object
 13  sub-category         9994 non-null   object
 14  product_id           9994 non-null   object
 15  sales                9994 non-null   float64
 16  quantity             9994 non-null   int64
 17  discount             9994 non-null   float64
 18  profit               9994 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           333 non-null    object
 1   arrival_scan_date  333 non-null    object
 2   customer_name      333 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

In [84]:
intern_study_df.info()
order_process_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            290 non-null    object
 1   ready_to_ship_date  290 non-null    object
 2   pickup_date         290 non-null    object
dtypes: object(3)
memory usage: 6.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5899 entries, 0 to 5898
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              5899 non-null   int64
 1   order_id            5899 non-null   object
 2   order_date          5899 non-null   object
 3   on_truck_scan_date  5899 non-null   object
 4   ship_mode           5899 non-null   object
dtypes: int64(1), object(4)
memory usage: 230.6+ KB

In [85]:
#put all csv files into one
data1_df = orders_df.merge(campaign_data_df, on='order_id', how='outer')
data2_df = data1_df.merge(intern_study_df, on='order_id', how='outer')
data3_df = data2_df.merge(order_process_df, on='order_id', how='outer')

data2_df.columns

Index(['index', 'order_id', 'order_date', 'ship_mode_logistics', 'customer_id',
       'customer_name_x', 'origin_channel', 'country/region', 'city', 'state',
       'postal_code', 'region', 'category', 'sub-category', 'product_id',
       'sales', 'quantity', 'discount', 'profit', 'arrival_scan_date',
       'customer_name_y', 'ready_to_ship_date', 'pickup_date'],
      dtype='object')

In [60]:
data3_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21620 entries, 0 to 21619
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                21620 non-null  int64
 1   Order ID             21620 non-null  object
 2   Order Date_x         21620 non-null  object
 3   Ship Mode Logistics  21620 non-null  object
 4   Customer ID          21620 non-null  object
 5   Customer Name_x      21620 non-null  object
 6   Origin Channel       21620 non-null  object
 7   Country/Region       21620 non-null  object
 8   City                 21620 non-null  object
 9   State                21620 non-null  object
 10  Postal Code          21591 non-null  float64
 11  Region               21620 non-null  object
 12  Category             21620 non-null  object
 13  Sub-Category         21620 non-null  object
 14  Product ID           21620 non-null  object
 15  Sales                21620 non-null  float64
 16  Quantity             21620 non-null  int64
 17  Discount             21620 non-null  float64
 18  Profit               21620 non-null  float64
 19  Arrival Scan Date    2056 non-null   object
 20  Customer Name_y      2056 non-null   object
 21  Row ID               17525 non-null  float64
 22  Order Date_y         17525 non-null  object
 23  On Truck Scan Date   17525 non-null  object
 24  Ship Mode            17525 non-null  object
dtypes: float64(5), int64(2), object(18)
memory usage: 4.3+ MB

In [ ]:
#make columns in lower case
data3_df.columns = data3_df.columns.str.lower()  # make column names lowercase
data3_df.head(2)

,index,order id,order date_x,ship mode logistics,customer id,customer name_x,origin channel,country/region,city,state,...,discount,profit,arrival scan date,customer name_y,ready to ship date,pickup date,row id,order date_y,on truck scan date,ship mode
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,0.0,11.7741,NaN,NaN,NaN,NaN,26.0,16/1/2019,23/01/2019,Standard Processing
1,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,0.0,11.7741,NaN,NaN,NaN,NaN,27.0,16/1/2019,23/01/2019,Standard Processing

In [41]:
#replace spaces with _
data4_df = data3_df.copy()
cols = data3_df.columns.tolist()
cols = [col.replace(' ', '_') for col in cols]
data4_df.columns = cols
data4_df.head(2)

,index,order_id,order_date_x,ship_mode_logistics,customer_id,customer_name_x,origin_channel,country/region,city,state,...,discount,profit,arrival_scan_date,customer_name_y,ready_to_ship_date,pickup_date,row_id,order_date_y,on_truck_scan_date,ship_mode
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,0.0,11.7741,NaN,NaN,NaN,NaN,26.0,16/1/2019,23/01/2019,Standard Processing
1,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,0.0,11.7741,NaN,NaN,NaN,NaN,27.0,16/1/2019,23/01/2019,Standard Processing

In [42]:
data4_df.columns

Index(['index', 'order_id', 'order_date_x', 'ship_mode_logistics',
       'customer_id', 'customer_name_x', 'origin_channel', 'country/region',
       'city', 'state', 'postal_code', 'region', 'category', 'sub-category',
       'product_id', 'sales', 'quantity', 'discount', 'profit',
       'arrival_scan_date', 'customer_name_y', 'ready_to_ship_date',
       'pickup_date', 'row_id', 'order_date_y', 'on_truck_scan_date',
       'ship_mode'],
      dtype='object')

In [43]:
data4_df.drop(["origin_channel", "country/region", "postal_code", "product_id", "sales", "discount", "profit", "customer_name_y", "order_date_y" ], axis=1, inplace=True)

In [44]:
data4_df.columns
data4_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23171 entries, 0 to 23170
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                23171 non-null  int64
 1   order_id             23171 non-null  object
 2   order_date_x         23171 non-null  object
 3   ship_mode_logistics  23171 non-null  object
 4   customer_id          23171 non-null  object
 5   customer_name_x      23171 non-null  object
 6   city                 23171 non-null  object
 7   state                23171 non-null  object
 8   region               23171 non-null  object
 9   category             23171 non-null  object
 10  sub-category         23171 non-null  object
 11  quantity             23171 non-null  int64
 12  arrival_scan_date    2211 non-null   object
 13  ready_to_ship_date   2771 non-null   object
 14  pickup_date          2771 non-null   object
 15  row_id               19076 non-null  float64
 16  on_truck_scan_date   19076 non-null  object
 17  ship_mode            19076 non-null  object
dtypes: float64(1), int64(2), object(15)
memory usage: 3.4+ MB